service: products

frameworkVersion: "2"
useDotenv: true

plugins:
  - serverless-webpack
  - serverless-dynamodb-local
  - serverless-offline-dotenv
  - serverless-offline

custom:
  webpack:
    webpackConfig: "./webpack.config.js"
    includeModules:
      forceExclude:
        - aws-sdk
    packager: "npm"
  serverless-offline:
    httpPort: 4000
    ignoreJWTSignature: true
  imageUploadBucket: imagebucket-products-dev


provider:
  name: aws
  region: eu-central-1
  # profile: swexception
  runtime: nodejs12.x
  lambdaHashingVersion: "20201221"
  stage: ${opt:stage, 'dev'}

  apiGateway:
    restApiId: 95kq9eggu9
    restApiRootResourceId: zsd84g8moe

  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
    DOMAIN_SUFFIX: eml-be
    CALLBACK_URL: http://localhost:3000
    PRODUCT_IMG_BUCKET: ${self:custom.imageUploadBucket}
    REGION: ${self:provider.region}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:*
            - s3:*
          Resource: "*"
functions:
  createProduct:
    handler: "src/handlers/createProduct.HANDLER"
    events:
      - http:
          path: /products
          method: POST
          cors: true

  updateProduct:
    handler: "src/handlers/updateProduct.HANDLER"
    events:
      - http:
          path: /products/{id}
          method: PATCH
          cors: true
  getProduct:
    handler: "src/handlers/getProduct.HANDLER"
    events:
      - http:
          path: /products/{id}
          method: GET
          cors: true
  getProducts:
    handler: "src/handlers/getProducts.HANDLER"
    events:
      - http:
          path: /products/
          method: GET
          cors: true
  updateStock:
    handler: "src/handlers/getProduct.HANDLER"
    events:
      - http:
          path: /products/stock/{id}
          method: PATCH
          cors: true

resources:
  Resources:
    #bucket for products imgs management
    BucketImage:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: imagebucket-products-dev
        AccessControl: PublicRead #!!!public!!!
    ProductsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: products
        AttributeDefinitions:
          - AttributeName: category
            AttributeType: "S"
          - AttributeName: id
            AttributeType: "S"
          - AttributeName: netPrice
            AttributeType: "N"
        KeySchema:
          - AttributeName: category
            KeyType: HASH
          - AttributeName: id
            KeyType: RANGE
        LocalSecondaryIndexes:
          - IndexName: categoryPrice
            KeySchema:
              - AttributeName: category
                KeyType: HASH
              - AttributeName: netPrice
                KeyType: RANGE
            Projection: 
              ProjectionType: "ALL"
        GlobalSecondaryIndexes:
        - IndexName: id-index
          KeySchema:
            - AttributeName: id
              KeyType: HASH
          Projection:
            ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

